*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Gothic A1', sans-serif;
    background:#fff;
    color:#000;
}

/* TOP BAR */
.topbar{
    background:#6C0606;
    color:white;
    padding:20px;
    text-align:center;
    position:relative;
}

.title{
    font-family:'Goldman', sans-serif;
    font-size:48px;
}

.back{
    position:absolute;
    left:20px;
    top:20px;
    color:white;
    text-decoration:none;
    font-size:14px;
}

/* MAIN LAYOUT */
.project-layout{
    width:60%;
    margin:40px auto;
    display:flex;
    gap:40px;
    align-items:flex-start;
}

/* IMAGE */
.image-side{
    flex:1;
}

.image-side img{
    height:500px;
    object-fit:cover;
    background:#ddd;
}

/* TEXT */
.text-side{
    flex:3;
}

.text-side h2{
    font-family:'Goldman';
    color:#6C0606;
    margin-bottom:10px;
    margin-top:20px;
}

.text-side p{
    line-height:1.8;
}

.small-label{
    font-size:12px;
    color:#888;
    margin-top:-5px;
    margin-bottom:10px;
    letter-spacing:1px;
}
/* FOOTER */
.ai{
    text-align:center;
    color:#3d0000;
    font-size:12px;
    margin:50px 0 30px;
}

/* RESPONSIVE */
@media(max-width:768px){
    .project-layout{
        flex-direction:column;
    }

    .image-side img{
        height:300px;
    }
}

.projects-grid{
    width:100%;
    margin-top:20px;
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:10px;
}

/* PROJECT CARD */
.project-card-ubuntu{
    text-decoration:none;
    color:black;
    margin-top: 40px;
}

.project-card-ubuntu img{
   width: 100%;
    height: 100%; 
    object-fit: cover;
    background: #ddd;
    display: block;
}

.project-card-mie{
    text-decoration:none;
    color:black;
    margin-top: 20px;
}

.project-card-mie img{
   width: 100%;
    height: 100%; 
    object-fit: cover;
    background: #ddd;
    display: block;
}
.project-card-lamp{
    text-decoration:none;
    color:black;
    margin-top: 35px;
}

.project-card-lamp img{
   width: 100%;
    height: 100%; 
    object-fit: cover;
    background: #ddd;
    display: block;
}